# Introduction to Programming with Python

### Reference material for course - Python tutorial 
https://docs.python.org/3/tutorial/index.html

## Everything in Python is an object

### Think of objects as a container for data

#### Consider the following example

In [13]:
x = 3.1456

* Above we have declared a variable called 'x' and we have assigned it a value of 3.1456.
* Internally python has created an object of type float to store this number - this is a built in object.
* It then points the variable x to that object. It is important to understand that variable names are not bound to objects, but only assigned. They can later be reassigned.
* To check type of any object we can use the built in function `type` and pass it the `object or the variable` as argument as shown.

In [17]:
type(x), type(3.1456)

(float, float)

#### Objects define properties, functions and operations that can be used to work with the data contained in the object.

We can visualize an object as a wrapper or an enclosure around the data. Essentially this enclosure allows / restricts access to the data. Objects provide properties with which we can gain information about the data. Objects also provide methods / functions by which we can get or mutate / change the data. 

Mostly programming comes down to learning how to work with these objects. <br>

* Documentation for reference - https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex

#### Consider some of the operations available on float objects

In [18]:
x, y = 3.1456, 10

In [19]:
type(x), type(y)

(float, int)

In [20]:
type(x + y)

float

Mathematical operations that include floats -> to conduct the operation, python will create a float object and assign it value 10.

In [21]:
round(x, 2)

3.15

In [22]:
x.as_integer_ratio()

(1770815373482079, 562949953421312)

Consider some text data, say for example `'Amit Kumar Jha'` (in python text refers to an object of the type string, we declare this to the python interpreter by wrapping the text within single or double quotes).

In [6]:
name = 'Amit Kumar Jha'

### To access methods available in python string objects we can use the dot notation
If we write the variable name and press dot like name. (and then press tab) -> Jupyter notebook will show the methods and properties available. </br>
Resource - Python docs for strings
https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str </br>
Please open the doc in another tab for the next section

### Consider the following functions / methods available on string objects

In [7]:
name.capitalize()

'Amit kumar jha'

In [8]:
name

'Amit Kumar Jha'

* We can call functions as shown above. Here, the function capitalize, provided by string objects has been called.
* The function returns a new string object with only the first letter capitalized. Notice the middle and last names have their first letters small.
* The general template is object_name.function_name(argument_1, argument_2, ...). 
* In our case the the string object 'Amit Kumar Jha' is stored as name. 
* Also for the capitaliize function, there are no arguments to pass to the function. 
* In general, functions can accept zero or more arguments.
* The variable name is still referring to the old object and its content has not been changed.
* Also, pointing the variable to the new object will change the contents of the variable

In [10]:
name = name.capitalize()

In [11]:
name

'Amit kumar jha'